.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-control input,
.form-control label {
  display: block;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control select {
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.form-control input:focus {
  outline: none;
  border-color: var(--light-blue-color);
  background-color: #e0d4fd;
}

.form-actions button {
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  background-color: var(--light-blue-color);
  color: white;
  cursor: pointer;
  transition: 200ms;
}

.form-actions button:hover,
.form-actions button:active {
  background-color: var(--blue-color);
}

.form-actions button:disabled,
.form-actions button:disabled:hover,
.form-actions button:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}

.form-actions {
  text-align: right;
}

.form-actions button {
  margin-left: 1rem;
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error-text {
  color: #b40e0e;
}

@media (max-width: 580px) {
  .form-control input,
  .form-control select {
    width: 60vw;
  }
}
