.header {
  overflow-x: hidden;
  height: 98vh;
}

.title {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title h1 {
  font-size: 6rem;
  font-family: "Kaushan Script", cursive;
}

.menu-icon {
  width: 50px;
  margin: 30px 30px 0 0;
  cursor: pointer;
  display: none;
}

.navigation {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: baseline;
  list-style: none;
  z-index: 10;
}

.navigation li {
  transition: 200ms;
  text-align: center;
  display: flex;
}

.navigation li:not(:last-child) {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
}

.navigation.title-isnt-visible li {
  opacity: 0.2;
}

.navigation a,
.navigation a:visited {
  padding: 1rem;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  font-weight: 900;
  color: var(--light-blue-color);
}

.navigation li:not(:first-child) {
  margin-left: 50px;
}

.navigation li:hover {
  opacity: 1;
}

.navigation a:hover {
  text-decoration: underline;
}

@media (max-width: 640px) {
  .title h1 {
    font-size: 15vw;
    font-family: "Kaushan Script", cursive;
  }

  .navigation {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .header nav {
    display: flex;
    justify-content: right;
    align-items: center;
  }
}
